body {
  height: 2000px;
  background-image: linear-gradient(to bottom, lightcoral,lightsalmon,khaki,lightgreen,lightblue,thistle,pink);
  font-family: Arial;
}  

.buttons {
  justify-content: center;
  display: grid;
}

.vinyl-button,
.cd-button,
.merch-button {
  display: inline-block;
  padding: 50px;
}

.vinyl-button-style {
  font-size: larger;
  font-weight: bolder;
  height: 100px;
  width: 400px;
  color: white;
  background-color: red;
  border-color: white;
  border-width: 5px;
}

.vinyl-button-style:hover {
  background-color: crimson;
  cursor: pointer;
}

.cd-button-style {
  font-size: larger;
  font-weight: bolder;
  height: 100px;
  width: 400px;
  color: white;
  background-color: deepskyblue;
  border-color: white;
  border-width: 5px;
}

.cd-button-style:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.merch-button-style {
  font-size: larger;
  font-weight: bolder;
  height: 100px;
  width: 400px;
  color: white;
  background-color: lime;
  border-color: white;
  border-width: 5px;
}

.merch-button-style:hover {
  background-color: limegreen;
  cursor: pointer;
}

.genres,
.sort,
.back-button {
  font-family: Arial;
  font-size: large;
  font-weight: 700;
  position: absolute;
  height: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  background-color: transparent;
  color: black;
}

.sort{
  left: 120px;
}

.back-button {
  top: 225px;
  cursor: pointer;
}

.home-message {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}