.website-title {
  font-family: Arial;
  text-align: center;
  font-size: xx-large;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(255,255,255, 0.5); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  color: black;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.hamburger {
  position: absolute;
  top: 30px;
  left: 25px;
  cursor: pointer;
}

.hamburger-icon {
  width: 100px;
}

.overlay2 {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(255,255,255, 0.5); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; 
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

/* Position the content inside the overlay */
.cart-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-bottom: 0; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay2 a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  color: black;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay2 a:hover, .overlay2 a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay2 .closebtn {
  position: relative;
  top: 20px;
  left: 45px;
  font-size: 60px;
}

.cart {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}

svg {
  width: 100px;
}

.cart-quantity {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  top: 75%;
  right: 70px;
}

.item img {
  width: 100%;
  margin-left: 30px;
}

.item {
  display: grid;
  grid-template-columns: 80px 1fr 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 7px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}

.quantity span:nth-child(2) {
  background-color: transparent;
}

.item:nth-child(even) {
  background-color: rgba(0,0,0, 0.2);
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}