.audio-preview {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
  gap: 10px;
}

.audio-player {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-top: 14px;
}

.back-button {
  top: 180px;
}

.product-container {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.product-info {
  display: grid;
  grid-template-rows: 75px 50px 1fr 1fr 2fr;
}

.product-photo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-style: solid;
}

.album {
  font-size: 60px;
  font-weight: 600;

}

.artist {
  font-size: 35px;
  font-weight: 600;
}

.genre,.product-price {
  font-size: 30px;
  font-weight: 600;
}

.product-description {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
}