.albums-grid {
  position: relative;
  height: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px;
}

.pop-genre {
  position: absolute;
  left: 47%;
  font-size: 50px;
  font-weight: 700;
}

.pop {
  margin-top: 40px;
}

.rnb-genre{
  position: absolute;
  left: 47%;
  top: 700px;
  font-size: 50px;
  font-weight: 700;
}

.first-group,.second-group,.third-group,.fourth-group,.fifth-group,.sixth-group {
  display: flex;
  justify-content: center;
}

.album {
  width: 300px;
  position: relative;
  border-style: inset;
  border-color: gray;
  box-shadow: -3px -3px 5px dimgray;
  z-index: 0;
  top: 0;
  transition: z-index 0.5s, top 1s;
}

.album:hover {
  top: -60px;
  z-index: 1;
  cursor: pointer;
}

.gaga-div,.addison-div,.chappell-div,.nina-div,.brat-div,.hmhas-div,.oklou-div,.es-div,.renaissance-div,.pp-div,.lux-div,.dtmf-div,.aalyiah-div,.akon-div,.brandy-div,.frank-div,.mariah-div,.mjb-div,.solange-div,.summer-div,.sza-div,.tlc-div,.trip-div,.weeknd-div {
  display: inline-block;
  position: absolute;
  height: 300px;
  width: 300px;
}

.nina-div,.brat-div,.hmhas-div {
  top: 25px;
  margin-left: 50px;
}

.oklou-div,.es-div,.renaissance-div {
  top: 50px;
  margin-left: 100px;
}

.pp-div,.lux-div,.dtmf-div {
  top: 75px;
  margin-left: 150px;
}

.frank-div,.summer-div,.weeknd-div {
  margin-top: 75px;
  margin-left: 150px;
}

.brandy-div,.solange-div,.trip-div {
  margin-top: 50px;
  margin-left: 100px;
}

.akon-div,.mjb-div,.tlc-div {
  margin-top: 25px;
  margin-left: 50px;
}

.rectangle {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: saddlebrown;
  top: 600px;
  z-index: 1;
  border-style: solid;
}

.rectangle2 {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: rgb(88, 44, 12);
  top: 500px;
  border-style: solid;
}

.rectangle3 {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: saddlebrown;
  top: 1200px;
  z-index: 1;
  border-style: solid;
}

.rectangle4 {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: rgb(88, 44, 12);
  top: 1100px;
  border-style: solid;
}