.faq-button,.contact-us-button {
  text-align: center;
  font-size: xx-large;
}

.footer {
  font-family: Arial;
  font-weight: 700;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}