.container {
  width: 1100px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  transition: 0.5s;
}

.contentTab .item img {
  width: 175px;
  filter: drop-shadow(
    0 20px 20px #0009
  );
}

.contentTab {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.contentTab .item {
  background-color: rgba(230, 230, 230, 0.6);
  padding-bottom: 20px;
  border-radius: 20px;
}

.contentTab .item h2 {
  font-size: xx-large;
}

.contentTab .item .price {
  letter-spacing: 5px;
  font-size: large;
  font-weight: bold;
}

.contentTab .item button {
  background-color: greenyellow;
  border-style: solid;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.contentTab .item .addCart {
  font-weight: bold;
}

.filterBtn, .showAllBtn, .genreSelect {
  background-color: greenyellow;
  font-size: large;
  border-style: solid;
  border-color: black;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sortBtn, .resetBtn, .sortSelect {
  background-color: black;
  color: white;
  font-size: large;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

input {
  width: 350px;
  height: 50px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  margin: 20px;
  background-color: greenyellow;
  font-size: large;
}

.searchBtn {
  height: 50px;
  width: 100px;
  font-size: large;
  background-color: greenyellow;
  border-style: solid;
  border-radius: 20px;
  font-weight: bold;
}